beautifulsoup4==4.14.2
certifi==2025.10.5
cffi==1.17.1
charset-normalizer==3.4.3
contourpy==1.1.1
curl_cffi==0.9.0
cycler==0.12.1
decouple==0.0.7
fonttools==4.57.0
frozendict==2.4.6
googlefinance==0.7
idna==3.10
importlib_resources==6.4.5
kiwisolver==1.4.7
matplotlib==3.7.5
multitasking==0.0.12
numpy==1.24.4
packaging==25.0
pandas==2.0.3
peewee==3.18.2
pillow==10.4.0
platformdirs==4.3.6
protobuf==5.29.5
pycparser==2.23
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
requests==2.32.4
seaborn==0.13.2
six==1.17.0
soupsieve==2.7
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
websockets==13.1
yfinance==0.2.66
zipp==3.20.2
PyYAML==6.0.1
